@use '../playground-layout' as *;
@use '../playground-preview-fixes.scss' as *;

.bp-preview-inner--textarea {
  width: 100%;
  max-width: 22rem;
  justify-content: center;
  align-items: center;
}

.bp-preview-inner--textarea.ta-play--full {
  max-width: 100%;
}
